<div class="todo-list-item" *ngIf="!editing" [ngClass]="{'completed-item' : listItem.completed}">
    <h3>{{listItem.name}}</h3>
    {{listItem.description}}

    <div>
        <button (click)="toggleEditing()">Edit</button>
    </div>
</div>
<div class="todo-list-item" *ngIf="editing">
    <form [formGroup]="editListItemForm" (ngSubmit)="editListItem()">
        <div>
          <label for="name">Name</label> &nbsp;
          <input id="name" type="text" formControlName="name">
        </div>
        <div>
          <label for="description">Description</label> &nbsp;
          <input id="description" type="text" formControlName="description">
        </div>
        <div>
          <label for="completed">Completed</label> &nbsp;
          <input id="completed" type="checkbox" formControlName="completed">
        </div>
      
        <button type="submit">Edit</button>
      </form>
</div>