<h1 id="tableLabel">TODO List</h1>

<p *ngIf="!todoListItems"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="todoListItems">
  <thead>
    <tr>
      <th>Description<th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todoListItem of todoListItems">
      <td>{{ todoListItem.description }}</td>
      <td>{{ todoListItem.completed }}</td>
    </tr>
  </tbody>
</table>

<form [formGroup]="newListItemForm" (ngSubmit)="addListItem()">
  <div>
    <label for="description">Description</label>
    <input id="description" type="text" formControlName="description">
  </div>
  <div>
    <label for="completed">Completed</label>
    <input id="completed" type="checkbox" formControlName="completed">
  </div>

  <button type="submit">Add</button>
</form>