<h1 id="tableLabel">TODO List</h1>

<p *ngIf="!todoListItems"><em>Loading...</em></p>

<div *ngFor="let todoListItem of todoListItems">
  <app-todo-list-item [listItem]="todoListItem"></app-todo-list-item>
</div>

<form [formGroup]="newListItemForm" (ngSubmit)="addListItem()">
  <div>
    <label for="name">Name</label> &nbsp;
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="description">Description</label> &nbsp;
    <input id="description" type="text" formControlName="description">
  </div>
  <div>
    <label for="completed">Completed</label> &nbsp;
    <input id="completed" type="checkbox" formControlName="completed">
  </div>

  <button type="submit">Add</button>
</form>